<ng-sidebar-container>
    <ng-sidebar mode="push" [opened]="opened">
        <p>Sidebar</p>
        <button (click)="toggleSidebar()">Close</button>
        <ul class="menu">
        <li><a routerLink="/" (click)="toggleSidebar()">Dashboard</a></li>
        <li><a routerLink="/schedule" (click)="toggleSidebar()">Schedule</a></li>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
        <button (click)="toggleSidebar()">Open Sidebar</button>
        <router-outlet></router-outlet>
    </div>
    
</ng-sidebar-container>
  