ng-sidebar-container {
    height: 100vh;
}

::ng-deep .ng-sidebar {
    background-color: #1565D8;
    width: 247px;
    height: 1024px;
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

button {
    position: absolute;
    top: 1.5%;
    border: none;
    background-color: #1565D8;
    padding: 5px;
    border-radius: 2px;

    i {
        color: white;
    }
}
