<div class="card">
    <div style="display: flex; justify-content: space-between;">
        <p class="interbold" style="color: #1D2B4F;">Recent Activity</p>
        <img src="../../assets/images/bell.png" alt="character">
    </div>
    <p class="line"></p>

    <div class="info_item">
        <img src="../../assets/images/schedule_apt.png" alt="character">
        <p class="info">You have scheduled an interview with <strong class="interbold">Michael Okoh</strong></p>
    </div>

    <div class="info_item">
        <img src="../../assets/images/yellow.png" alt="character">
        <p class="info">You have scheduled 3 appointments for 24th feb, 2021</p>
    </div>

    <div class="info_item">
        <img src="../../assets/images/schedule_cancel.png" alt="character">
        <p class="info">Okereke Chinaza has rescheduled appointment</p>
    </div>

    <div class="info_item">
        <img src="../../assets/images/green.png" alt="character">
        <p class="info">There are three new ready reports for <strong class="interbold">Okereke Chinaza</strong></p>
    </div>

    <div class="info_item">
        <img src="../../assets/images/green.png" alt="character">
        <p class="info">There are three new ready reports for  <strong class="interbold">Tosin Odubele</strong></p>
    </div>
</div>