.notification_section {
    background-color: #216cd4;
    border-radius: 10px;
    height: 200px;
 img {
     height: 190px;
 }
}

.main {
    height: 100vh; 
    background-color: #F5F8FA; 
    overflow: hidden;
}

.scrollable {
    height: 62vh; 
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    display: none;
  }

.scrollable {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.line {
    border: 2px solid #1565D8;
    width: 50px;
}

.notification_images {
    position: relative;
    padding-top: 0px !important;
    padding-bottom: 30px !important;
    img {
        width: 20px;
        position: absolute;
    }

    p {
        font-size: 13px !important;
        color: #8692A6;
        position: absolute;
        left: 90px;
    }
}

.date {
    color: #1D2B4F;
    // font-style: bold;
    font-weight: 800;
    font-size: 18px;
}

.sch {
    font-size: 25px;
    // font-weight: 900;
    color: white;
    // letter-spacing: 1px;
}

.notification {
    color: white;
    // letter-spacing: 1px;
}

.apt_sec {
    border: none;
    box-shadow: none;
    padding: 20px;
}


@media screen and (min-width: 320px) and (max-width: 600px) {
    .main {
        height: auto;
    }
    .message {
        font-size: 12px;
    }
    .date {
        font-size: 14px;
    }
    .sh {
        font-size: 10px;
    }
    .scrollable{
        height: auto !important;
        overflow-y: hidden !important;
    }
    .notification {
        font-size: 10px;
    }
    .notification_section {
        height: 130px !important;
        .sch {
            font-size: 10px !important;
        }
        button {
            margin-top: 10px;
            padding: 5px !important;
            font-size: 8px;
        }
        .p-4 {
            padding: 10px !important;
        }
        img {
            top: 12%;
            position: absolute;
            right: 3%;
            height: 120px !important;
        }
        .notification {
            width: 230px;
            margin-bottom: 0px !important;
        }
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    img {
        // height: 180px !important;
        right: 2%;
        position: absolute;
    }
    .main {
        // font-size: 10px !important;
        height: auto;
        // overflow: auto;
    }
    .scrollable{
        // overflow: hidden;
        height: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    img {
        // height: 180px !important;
        right: 2%;
        position: absolute;
        // top: 7%;
    }
    .main {
        // font-size: 10px !important;
        height: auto;
    }
    .scrollable{
        // overflow: hidden;
        height: auto;
    }
}