<div class="main">
    <app-topnav></app-topnav>
    <div class="main_section">
        <div class="row main_in">
            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 p-5 left_col">
                <div class="banner row">
                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 in">
                        <div>
                            <p class="inter">Welcome, <strong class="name interbold">{{ doctor.name }}</strong></p>
                        </div>
                        <div>
                            <p class="notification">
                                You have {{ doctor.patients.length }} new appointments and there are currently {{ doctor.waiting }}
                                patients in the waiting room. Have a nice day at work!
                            </p>
                        </div>
                        <div>
                            <button class="button_style"> <i class="fa fa-eye"> </i> &nbsp; View your appointments</button> &nbsp;
                            <button class="button_style"> Go to waiting room  &nbsp; <i class="fa fa-arrow-right"> </i></button>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                        <img src="../../assets/images/character.png" class="character" alt="character">
                    </div>
                </div> 

                <div class="scrollable_left row">
                    <div class="row card_parent">
                        <div class="card child first">
                            <div class="to_display">
                                <img src="../../assets/images/card1_icon.png" class="card_icon" alt="icon">
                                <div class="d-flex">
                                    <p class="inter arrow_text">All Time &nbsp; <i class="fa fa-chevron-down" aria-hidden="true"> </i></p>
                                </div>
                            </div>
                            <p class="inter value mt-3">{{ total_patients }}</p>
                            <p class="inter desc">Total Patient</p>
                            <p class="inter info"> <i class="fa fa-arrow-down" style="color: red;"> </i> 5% less than last month</p>
                        </div>
    
                        <div class="card child second">
                            <div class="to_display">
                                <img src="../../assets/images/carlender.png" class="card_icon" alt="icon">
                                <div class="d-flex">
                                    <p class="inter arrow_text">Today &nbsp; <i class="fa fa-chevron-down" aria-hidden="true"> </i></p>
                                </div>
                            </div>
                            <p class="inter value mt-3"> {{ doctor.patients.length }}</p>
                            <p class="inter desc">Apointments</p>
                            <p class="inter info"> <i class="fa fa-arrow-up" style="color: green;"> </i> 15% more than yesterday</p>
                        </div>
    
                        <div class="card child third">
                            <div class="to_display">
                                <img src="../../assets/images/time.png" class="card_icon" alt="icon">
                                <div class="d-flex">
                                    <p class="inter arrow_text">Today &nbsp; <i class="fa fa-chevron-down" aria-hidden="true"> </i></p>
                                </div>
                            </div>
                            <p class="inter value mt-3">{{ doctor.waiting }}</p>
                            <p class="inter desc">Waiting Room</p>
                            <p class="inter info"><i class="fa fa-arrow-up" style="color: green;"> </i> 35% less than yesterday</p>
                        </div>
                    </div>
                    <div class="row bg-white apt_sec">
                        <div style="margin-left: 10px; margin-right: 10px;">
                            <div style="display: flex; justify-content: space-between;">
                                <p class="inter"><span class="nx interbold">Your next patients</span></p>
                                <div>
                                    <p class="inter">
                                        <span class="interbold" style="color: #1565D8; font-size: 14px;"> View All
                                            &nbsp;   <i class="fa fa-arrow-right" aria-hidden="true"> </i>
                                        </span>
                                    </p> 
                                </div>
                            </div>
                            <p class="line"></p>
                            
                            <hr color="#f5f5f5">
                        </div>
                        <span *ngFor="let it of doctor.patients">
                            <app-patient [patient]="it"></app-patient>
                        </span>
                    </div>
                    <app-barchart></app-barchart>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 p-5 scrollable_right right_col">
                <app-calender></app-calender>
                <app-piechart></app-piechart>
                <app-recentactivity></app-recentactivity>
            </div>

        </div>
    </div>

</div>