.main {
    height: 100vh;
    // background-color: red;
    background-color: #F5F8FA;
    width: 100%;
    overflow: hidden;
}

.main_section {
    color: white;
    // padding: 20px;

   img {
        height: 200px;
    }
   
   .name {
       font-size: 25px;
       font-weight: 900;
   }
}

.first {
    margin-left: -35px;
    width: auto;
}

.third {
    margin-right: -30px;
    // width: auto;
}

.card_parent {
    margin: 10px 0px 10px 0px;
    display: flex; 
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-around; 
    width: 100%;
}

.child {
    // width: auto;
    width: 290px; 
    box-shadow: none;
    border: none;
    padding: 40px;
}

button {
    margin-top: 10px;
}

.notification {
    width: 70%;
}

.scrollable_right {
    padding-bottom: 0px !important;
    height: 92vh; 
    overflow: auto;
    padding-left: 0px !important;
}

.scrollable_left {
    height: 63vh; 
    overflow: auto;
}

.scrollable_right::-webkit-scrollbar {
    display: none;
  }

.scrollable_right {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.scrollable_left::-webkit-scrollbar {
    display: none;
  }

.scrollable_left {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.left_col {
    padding-top: 1.5em !important;
    padding-right: 2em !important;
}

.right_col {
    // padding-top: 1.5em !important;
    padding-top: 0px !important;
    margin-top: 25px;
}

.banner {
    background-color: #216cd4;
    border-radius: 10px;
    padding: 10px;
    height: 210px;
    margin-bottom: 10px;
}

.apt_sec {
    border: none;
    box-shadow: none;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.line {
    border: 2px solid #1565D8;
    width: 50px;
}

.to_display {
    display: flex !important;
    justify-content: space-between;
}

.arrow_text {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #1D2B4F;
}

.card_icon {
    width: 35px !important;
    height: 35px !important;
}

.value {
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 31px;
    margin-bottom: 5px;
    letter-spacing: 0px;
    text-align: left;
    color: #1D2B4F;
}

.next_pa {
    color: #1D2B4F;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.view_all {
    color: #1565D8;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;

}

.desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #8692A6;
}

.patients_section {
    margin-top: 5px;
    padding: 20px;
}

.line {
    border: 2px solid #1565D8;
    width: 50px;
}

.info {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: #8692A6;
}

.nx {
    color: #1D2B4F;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .left_col {
        padding: 0px !important;
    }
    .card_parent {
        padding: 0px;
    }
    .child {
        width: 100%;
        height: auto;
    }
    .second {
        margin: 10px 0px 10px 0px;
    }
    .first {
        margin-right: -30px;
    }
    .third {
        margin-left: -30px;
    }
    .in {
        padding: 0px;
    }
    .nx {
        font-size: 16px;
    }
    .banner {
        margin: 0px; 
        height: 150px;
        button {
            font-size: 10px;
            padding: 3px;
            margin-top: 0px;
        }
        img {
            position: absolute;
            top: 12%;
            right: 3%;
            height: 140px;
        }
        .notification {
            width: 70%;
        }
        .name {
            font-size: 14px;
        }
    }
    .card_parent {
        margin: 10px 0px 0px 0px;
    }

    .right_col {
        padding-right: 0px !important;
    }
    .main_in {
        padding: 25px !important;
    }
    .scrollable_right{
        height: auto !important;
        overflow-y: hidden !important;
    }
    .scrollable_left{
        height: auto !important;
        overflow-y: hidden !important;
        margin: 0px !important;
    }
    .main {
        font-size: 10px !important;
        height: auto;
    }
    .notification_section {
        height: 145px !important;
        .name {
            font-size: 15px !important;
        }
        .p-4 {
            padding: 10px !important;
        }
        img {
            top: 12%;
            position: absolute;
            right: 3%;
            height: 120px !important;
        }
        .notification {
            width: 230px;
            margin-bottom: 0px !important;
        }
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .notification {
        width: 100%;
        margin: 0px;
    }
    button {
        margin: 15px 0px 0px 0px;
        padding: 5px;
        font-size: 12px;
    }
    .banner {
        height: 200px;
    }
    img {
        height: 180px !important;
        right: 28%;
        position: absolute;
        top: 8%;
    }
    .first {
        width: 160px;
        padding: 10px !important;
        margin: 0px !important;
        // width: 100%;
    }

    .second {
        width: 160px;
        padding: 10px !important;
        // margin: 10px 0px 10px 0px !important;
        // width: 100%;
    }

    .third {
        width: 160px;
        padding: 10px !important;
        margin: 0px !important;
        // width: 100%;
    }

    .to_display {
        display: flex !important;
        justify-content: space-between;
    }

    .card_parent {
        margin: 0px;
        padding: 0px;

    }
    
    .date {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .notification_section {
        font-size: 15px !important;
        height: 190px !important;
        img {
            height: 180px !important;
            right: 35%;
            position: absolute;
            top: 7%;
        }
        .p-4 {
            padding: 10px !important;
        }
        button {
            margin-top: 0px;
        }
    }

    .first {
        width: 220px;
        padding: 10px !important;
    }

    .second {
        width: 220px;
        padding: 10px !important;
    }

    .third {
        width: 220px;
        padding: 10px !important;
    }
    // .scrollable_right{
    //     height: auto !important;
    //     overflow-y: hidden !important;
    // }
    // .scrollable_left{
    //     height: auto !important;
    //     overflow-y: hidden !important;
    //     margin: 0px !important;
    // }
}