#divChart {
    display: block;
    width: 100%;
    height: auto;
}

.apt_sec {
    border: none;
    box-shadow: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.line {
    border: 2px solid #1565D8;
    width: 50px;
}

.top {
    margin-left: 10px; 
    margin-right: 10px;
}